{% extends "league/base.html"%}

{% block page_header %}
  <h3>
    <a href="{% url 'league:conference' conference.id %}">Conference: {{ conference.name }}</a>
  </h3>
{% endblock page_header %}

{% block content %}
  <p>Edit conference:</p>

  <form action="{% url 'league:edit_conference' conference.id %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button name="submit" class="btn btn-primary">Save</button>
    <button name="cancel" class="btn btn-danger">Cancel</button>
  </form>
{% endblock content %}